<nav>
    <div class="container">
        <a href="#"><img src="/images/logo_s_w.png" alt="logo"></a>
        <ul>
            <li>
                <NavLink class="nav-item" href="/admin" Match="NavLinkMatch.All">
                    Schools
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="/admin/donors" Match="NavLinkMatch.Prefix">
                    Donors
                </NavLink>
            </li>
            <li>
                <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
            </li>
        </ul>
    </div>
</nav>

@code {

}