@page "/admin"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<h1>Schools</h1>

<table>
    <thead>
        <tr>
            <th>School</th>
            <th>City</th>
            <th>Buddies</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

@code {




}