<section>
    <div class="container">
        <h2>Our buddies and their <span>stories</span></h2>

        <ul>
            <BuddyStory Title="Hungry & embarrassed" ImageNo="4">
                A small girl often comes to school unwashed, hungry and embarrassed that she didn't have a snack like her peers.  To fit in, one day
                she brings a can of soup and an onion as a snack.
            </BuddyStory>
            <BuddyStory Title="Brothers with no focus" ImageNo="2">
                Two brothers were struggling with a lack of attention and motivation.  According to teachers, once they began receiving their buddy
                bags the brothers began doing much better.
            </BuddyStory>
            <BuddyStory Title="Girl now has dinner" ImageNo="3">
                Elementary aged girl told the school counselor she was having her "backpack food" for dinner.  It was later learned that
                her family had been living without electricity for the past 6 months.
            </BuddyStory>
        </ul>
    </div>
</section>