<li>
    <img src="/images/students/@(ImageNo).jpg" alt="img">
    <h3>@Title</h3>
    <p>
        @ChildContent
    </p>
</li>

@code {
    [Parameter]
    public int ImageNo { get; set; } = 1;

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

} 