section {
    flex-direction: row;
    background: #fff;
    padding-bottom: 35px;
    position: relative;
    width: 100%;
    justify-content: center;
}

.container {
    display: block;
    width: 100%;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 3.7rem;
    color: var(--dark-blue);
    line-height: 5.5rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
    top: 0px;
}

h2 span {
    color: var(--light-blue);
}

ul {
    position: relative;
    transition-duration: 0s;
}
