section {
    flex-direction: row;
    background: #fff;
    padding-bottom: 35px;
    position: relative;
    width: 100%;
    justify-content: center;
    color: var(--light-gray);
    opacity: 1;
}

#education {
    display: grid;
    grid-template-areas:
        'description description description'
        'header      header      header';
    grid-gap: 0px;
    padding: 0px;
    margin-top: 2rem;
    text-align: center;
}

@media only screen and (max-width : 960px) {
    #education {
        grid-template-areas: 'description' 'header' 'item';
    }
}


#description {
    display: block;
    grid-area: description;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 2.4rem;
    justify-content: center;
    margin-top: 3rem;
    margin-right: 8vw;
    margin-left: 8vw;
}

#header {
    grid-area: header;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 3.7rem;
    color: black;
    line-height: 5.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    opacity: 1;
}
    #header span {
        color: var(--light-blue);
    }
