div {
    padding: 2rem 2.5rem 0.8rem 2.5rem;
    margin: 0px;
    text-align: center;
}

span {
    color: var(--light-blue) !important;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--light-gray);
    margin-top: 1rem;
    opacity: 1;
}

p {
    color: var(--light-gray);
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.045rem;
    line-height: 1.7rem;
    opacity: 1;
}

.alt {
    background-color: var(--light-blue);
    color: var(--white) !important;
}

.alt * {
    background-color: none !important;
    color: var(--white) !important;
}
