<section>
    <div class="container">
        <p>
            Backpack Buddies provides children from food-insecure homes with healthy weekend meals during the school year. The children,
            selected by school principals and guidance counselors, receive a backpack containing six balanced meals and four healthy snacks
            at the end of every week.
        </p>
    </div>
    <div class="container" id="education">
        <div class="row">
            <div class="col-md-12 heading dark animate_top"><span>Feed</span> | <span>Educate</span> | <span>Love</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 b1">
                <i class="fa fa-shopping-cart"></i>
                <h3 class="animate_top">Hungry children</h3>
                <p class="animate_bottom">Each week in St. Clair County, an estimated 5,000 children leave school not expecting to eat until they return to school.</p>
            </div>
            <div class="col-md-4 b2">
                <i class="fa fa-book"></i>
                <h3 class="animate_top">Lack of focus</h3>
                <p class="animate_bottom">On Mondays, teachers are finding they are forced to compete against hunger for the attention of their students.</p>
            </div>
            <div class="col-md-4 b3">
                <i class="fa fa-frown-o"></i>
                <h3 class="animate_top">Low self worth</h3>
                <p class="animate_bottom">Children with food insecurities commonly have low self-esteem and can experience periods of depression.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 b21">
                <i class="fa fa-cutlery"></i>
                <h3 class="animate_top">Feeding Children</h3>
                <p class="animate_bottom">Our first mission to ensure that no child goes hungry when they leave school each week.  Our bags provide an average of 2,000 calories per day.</p>
            </div>
            <div class="col-md-4 b22">
                <i class="fa fa-graduation-cap"></i>
                <h3 class="animate_top">Education for all</h3>
                <p class="animate_bottom">When children are well-nourished, they can focus on their studies and have an increased chance of staying in school to graduate.</p>
            </div>
            <div class="col-md-4 b23">
                <i class="fa fa-heart"></i>
                <h3 class="animate_top">Everyone is important</h3>
                <p class="animate_bottom">We want our "buddies" to understand that everyone is important, including them.  They should know that someone cares and is looking out for them.</p>
            </div>
        </div>
    </div>
</section>

@code {

}
