<div class="@AlternateClass">
    <span><i class="@IconStyle @IconName"></i></span>
    <h3 class="animate_top">@Title</h3>
    <p>
        @ChildContent
    </p>
</div>

@code {
    [Parameter] public string Title { get; set; } = null!;
    [Parameter] public string IconStyle { get; set; } = null!;
    [Parameter] public string IconName { get; set; } = null!;
    [Parameter] public bool Alternate { get; set; } = false;
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    public string AlternateClass => Alternate ? "alt" : "";

}
