<section>
    <div class="container">
        <div id="education">
            <p id="description">
                Backpack Buddies provides children from food-insecure homes with healthy weekend meals during the school year. The children,
                selected by school principals and guidance counselors, receive a backpack containing six balanced meals and four healthy snacks
                at the end of every week.
            </p>
            <h2 id="header" class="animate_top"><span>Feed</span> | <span>Educate</span> | <span>Love</span></h2>
            <OverviewItem Alternate="true" IconStyle="fas" IconName="fa-shopping-cart" Title="Hungry children">
                Each week in St. Clair County, an estimated 5,000 children leave school not expecting to eat until they return to school.
            </OverviewItem>
            <OverviewItem Alternate="false" IconStyle="fas" IconName="fa-book" Title="Lack of focus">
                On Mondays, teachers are finding they are forced to compete against hunger for the attention of their students.
            </OverviewItem>
            <OverviewItem Alternate="true" IconStyle="far" IconName="fa-frown-open" Title="Low self worth">
                Children with food insecurities commonly have low self-esteem and can experience periods of depression.
            </OverviewItem>
            <OverviewItem Alternate="false" IconStyle="fas" IconName="fa-utensils" Title="Lack of focus">
                Our first mission to ensure that no child goes hungry when they leave school each week.  Our bags provide an average of 2,000 calories per day.
            </OverviewItem>
            <OverviewItem Alternate="true" IconStyle="fas" IconName="fa-graduation-cap" Title="Education for all">
                When children are well-nourished, they can focus on their studies and have an increased chance of staying in school to graduate.
            </OverviewItem>
            <OverviewItem Alternate="false" IconStyle="fas" IconName="fa-heart" Title="Everyone is important">
                We want our "buddies" to understand that everyone is important, including them.  They should know that someone cares and is looking out for them.
            </OverviewItem>
        </div>
    </div>
</section>

@code {

}
