<section>
    <div class="container">
        <div id="about_us">
            <div><h3 class="animate_left">Want to know how you or your organization can get involved?</h3></div>
            <div><button href="#contact">Contact Us</button></div>
        </div>
    </div>
</section>
