@import url('blazor.css');

:root {
    --dark-blue: #123241;
    --dark-blue-transparent: rgba(18, 50, 65, .4);
    --light-blue: rgb(97, 199, 212);
}

/* Reset */

* { 
    box-sizing: border-box;
}

/* Global Styles */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    padding: 0 10px;
    flex: 1;
    justify-content: space-between;
}
