<header>
    <div class="container">
        <div>
            <iframe src="//player.vimeo.com/video/104261655?title=0&amp;byline=0&amp;portrait=0" width="570" height="320" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
        <div>
            <h2>Feeding <span><BuddyCount /></span> children weekly, and counting...</h2>
        </div>
    </div>
</header>

@code {

}
