
<div class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="/images/logo_s_w.png" alt="logo"></a>
    <button class="navbar-toggler" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="navbar-collapse @NavMenuCssClass" @onclick="ToggleNavMenu" >
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="#top">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#education">What we do</a></li>
        <li class="nav-item"><a class="nav-link" href="#stories">Our Buddies</a></li>
        <li class="nav-item"><a class="nav-link" href="#help">You can help</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact us</a></li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
