<section>
    <div class="container">
        <h2><span>Help spread</span> the word</h2>
        <ul>
            <li>
                <a href="https://www.facebook.com/HelpBackpackBuddies" target="_blank" rel="noreferrer">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</section>

@code {

}
