@page "/"
@namespace BlazorBuddies.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backpack Buddies - Because Hunger Doesn't Take The Weekend Off</title>
    <meta name="description" content="Backpack Buddies is a national program designed to fight childhood hunger. We discreetly serve children ages 5-12 who are recipients of the free meal program at their school. Each child is given nutritious and easy-to-prepare food they can take home on Fridays when other resources aren't always available. It also helps provide snacks for during school, if needed." />
    <base href="~/" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&family=Pacifico&display=swap" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorBuddies.Web.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
