@page "/"

<Masthead />
<NavMenu />
<article>
    <Overview />
    <!-- quick contact -->
    <!-- buddy stories -->
    <!-- help -->
    <!-- schools -->
    <!-- contact -->
    <Socials />
</article>
<Foot />





<!-- intro -->

<!-- About us -->
<!--<div class="about_us">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-1"></div>
            <div class="col-md-7 animate_left">
                <h3>Want to know how you or your organization can get involved?</h3>
            </div>
            <div class="col-md-3 animate_right">
                <a href="#contact" class="top_btn">Contact Us</a>
            </div>
            <div class="col-md-1"></div>
        </div>-->
<!-- End call action text -->
<!--</div>
</div>-->
<!-- Stories -->
<!--<div class="stories" id="stories">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 heading dark animate_top">Our buddies and their <span>stories</span></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bx-wrapper" style="max-width: 1140px;">
                    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 388px;">
                        <ul class="bxslider_story" style="width: 515%; position: relative; transition-duration: 0s; transform: translate3d(-1210px, 0px, 0px);">
                            <li class="s1 bx-clone" style="float: left; list-style: none; position: relative; width: 360px; margin-right: 30px;">
                                <img src="/content/images/students/4.jpg" alt="img">
                                <h3 class="animate_top">Hungry &amp; embarrassed</h3>
                                <p class="animate_bottom">
                                    A small girl often comes to school unwashed, hungry and embarrassed that she didn't have a snack like her peers.  To fit in, one day
                                    she brings a can of soup and an onion as a snack.
                                </p>
                            </li>
                            <li class="s1 bx-clone" style="float: left; list-style: none; position: relative; width: 360px; margin-right: 30px;">
                                <img src="/content/images/students/2.jpg" alt="img">
                                <h3 class="animate_top">Brothers with no focus</h3>
                                <p class="animate_bottom">
                                    Two brothers were struggling with a lack of attention and motivation.  According to teachers, once they began receiving their buddy
                                    bags the brothers began doing much better.
                                </p>
                            </li>
                            <li class="s1 bx-clone" style="float: left; list-style: none; position: relative; width: 360px; margin-right: 30px;">
                                <img src="/content/images/students/3.jpg" alt="img">
                                <h3 class="animate_top">Girl now has dinner</h3>
                                <p class="animate_bottom">
                                    Elementary aged girl told the school counselor she was having her "backpack food" for dinner.  It was later learned that
                                    her family had been living without electricity for the past 6 months.
                                </p>
                            </li>
                            <li class="s1" style="float: left; list-style: none; position: relative; width: 360px; margin-right: 30px;">
                                <img src="/content/images/students/4.jpg" alt="img">
                                <h3 class="animate_top">Hungry &amp; embarrassed</h3>
                                <p class="animate_bottom">
                                    A small girl often comes to school unwashed, hungry and embarrassed that she didn't have a snack like her peers.  To fit in, one day
                                    she brings a can of soup and an onion as a snack.
                                </p>
                            </li>

                            <li class="s1" style="float: left; list-style: none; position: relative; width: 360px; margin-right: 30px;">
                                <img src="/content/images/students/2.jpg" alt="img">
                                <h3 class="animate_top">Brothers with no focus</h3>
                                <p class="animate_bottom">
                                    Two brothers were struggling with a lack of attention and motivation.  According to teachers, once they began receiving their buddy
                                    bags the brothers began doing much better.
                                </p>
                            </li>

                            <li class="s1" style="float: left; list-style: none; position: relative; width: 360px; margin-right: 30px;">
                                <img src="/content/images/students/3.jpg" alt="img">
                                <h3 class="animate_top">Girl now has dinner</h3>
                                <p class="animate_bottom">
                                    Elementary aged girl told the school counselor she was having her "backpack food" for dinner.  It was later learned that
                                    her family had been living without electricity for the past 6 months.
                                </p>
                            </li>
                            <li class="s1 bx-clone" style="float: left; list-style: none; position: relative; width: 360px; margin-right: 30px;">
                                <img src="/content/images/students/4.jpg" alt="img">
                                <h3 class="animate_top">Hungry &amp; embarrassed</h3>
                                <p class="animate_bottom">
                                    A small girl often comes to school unwashed, hungry and embarrassed that she didn't have a snack like her peers.  To fit in, one day
                                    she brings a can of soup and an onion as a snack.
                                </p>
                            </li>
                            <li class="s1 bx-clone" style="float: left; list-style: none; position: relative; width: 360px; margin-right: 30px;">
                                <img src="/content/images/students/2.jpg" alt="img">
                                <h3 class="animate_top">Brothers with no focus</h3>
                                <p class="animate_bottom">
                                    Two brothers were struggling with a lack of attention and motivation.  According to teachers, once they began receiving their buddy
                                    bags the brothers began doing much better.
                                </p>
                            </li>
                            <li class="s1 bx-clone" style="float: left; list-style: none; position: relative; width: 360px; margin-right: 30px;">
                                <img src="/content/images/students/3.jpg" alt="img">
                                <h3 class="animate_top">Girl now has dinner</h3>
                                <p class="animate_bottom">
                                    Elementary aged girl told the school counselor she was having her "backpack food" for dinner.  It was later learned that
                                    her family had been living without electricity for the past 6 months.
                                </p>
                            </li>
                        </ul>
                    </div><div class="bx-controls bx-has-pager"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div><div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- How can you help -->
<!--<div class="how_can_you_help_bg parallax" id="help">
    <div class="how_can_you_help">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center heading animate_top">How can you<span class="brd"> help?</span></div>
            </div>

            <ul class="nav nav-tabs responsive second text-center hidden-xs hidden-sm" id="myTab">
                <li class="active"><a href="#tab1">Sponsor a child</a></li>
                <li><a href="#tab2">Donate food</a></li>
                <li><a href="#tab3">Sponsor a school</a></li>
            </ul><div class="panel-group responsive visible-xs visible-sm" id="collapse-myTab">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#collapse-myTab" href="#collapse-tab1">Sponsor a child</a></h4></div><div id="collapse-tab1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 animate_left">
                                    <iframe src="//player.vimeo.com/video/104261655?title=0&amp;byline=0&amp;portrait=0" width="570" height="320" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                </div>
                                <div class="col-md-6 left_con animate_right">
                                    <h3>Help us feed a child this week</h3>
                                    <p>Each bag provided costs an average of $5.00, which means that sponsoring a child would cost $20.00/month or $200.00 per school year.</p>
                                    <p>We appreciate every gift, whether it's one meal, a month of meals or more.  Please consider helping us ensure each of these children have the nutrition necessary to succeed.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#collapse-myTab" href="#collapse-tab2">Donate food</a></h4></div><div id="collapse-tab2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 text-center animate_top">
                                    <p>One of the easiest ways to support Backpack Buddies is to donate food. Below are some common questions about the types of food we provide and how you can collect for us.</p>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 animate_top">
                                    <h3><i class="fa fa-question-circle"></i>What type food do you provide in each bag?</h3>

                                    <p class="animate_bottom">Each child receives enough food for 6 meals and 4 snacks each week. <a href="/content/files/BackpackBuddiesMenu.pdf" target="_blank">Download a PDF</a> with our sample menu with exampes of each item.</p>
                                </div>
                                <div class="col-md-6 animate_top">
                                    <h3><i class="fa fa-question-circle"></i>Where can I drop food off?</h3>

                                    <p class="animate_bottom"><a href="#contact">Contact us</a> to find the nearest drop off location for you.  Also, contact us if you'd like your church or place of business to be a drop off location for Backpack Buddies food donations.</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 animate_top">
                                    <h3><i class="fa fa-question-circle"></i>Can my church/club/business host a food drive?</h3>

                                    <p class="animate_bottom">Absolutely!  <a href="/content/files/BackpackBuddiesMenu.pdf" target="_blank">Download</a> our sample menu to ensure you're collecting the right types of food.  Some other ideas for a food drive might include hosting a movie night or holiday party and charging a food item as the price of admission.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#collapse-myTab" href="#collapse-tab3">Sponsor a school</a></h4></div><div id="collapse-tab3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 text-center animate_top">
                                    <p>
                                        With an estimated 5,000 children in St. Clair County with food insecurity, our goal is to be in every school.  Our sponsors are the lifeblood that make that possible.  While we are currently serving all of the elementary schools in the county, there are still
                                        many schools in need of a sponsor.  Below are questions that we often receive about sponsoring a school.  If you or your organization would be interested in sponsoring a school, please <a href="contact">contact us</a>.
                                    </p>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 animate_top">
                                    <h3><i class="fa fa-question-circle"></i>What is a Backpack Buddies sponsor?</h3>
                                    <p class="animate_bottom">
                                        A school sponsor ensures that their school receives the needed number of bags of food each week.  School counselors will contact you with the number of children in need
                                        of bags.  The number of bags needed may fluctuate week to week, but will normally become more steady as the school year progresses.  As a sponsor, you or your organization
                                        would provide the monetary and logistical resources needed to ensure that no child goes hungry at your school.
                                    </p>
                                </div>
                                <div class="col-md-6 animate_top">
                                    <h3><i class="fa fa-question-circle"></i>As a sponsor, am I responsible for the cost of the food?</h3>
                                    <p class="animate_bottom">
                                        Our sponsors are committing to do all they can to make sure that every child in their school who needs a bag receives one.  However, we realize everyones resources are different.
                                        For this reason, you can partially sponsor a school and commit to providing 5, 10, 20 bags per week.  In that case a school may have several sponsors working in tandem to meet the need.
                                    </p>
                                    <p class="animate_bottom ">
                                        Backpack Buddies sponsors are a family.  So when one sponsor has difficulty meeting a need in their school others can step in to assist.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 animate_top">
                                    <h3><i class="fa fa-question-circle"></i>Can my church or business sponsor a school?</h3>

                                    <p class="animate_bottom">Certainly.  Many of our school sponsors are churches and we have many businesses that provide consistently for our schools.  <a href="#contact">Contact us</a> today to learn more.</p>
                                </div>
                                <div class="col-md-6 animate_top">
                                    <h3><i class="fa fa-question-circle"></i>Does a school in my community that needs a sponsor?</h3>

                                    <p class="animate_bottom">We're constantly working to provide sponsor for each school in our county so we recommend you <a href="#contact">contact us</a> for the most current list of schools and sponsors.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content responsive hidden-xs hidden-sm">

                <div class="tab-pane active in fade" id="tab1">
                    <div class="row">
                        <div class="col-md-6 animate_left">
                            <iframe src="//player.vimeo.com/video/104261655?title=0&amp;byline=0&amp;portrait=0" width="570" height="320" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                        </div>
                        <div class="col-md-6 left_con animate_right">
                            <h3>Help us feed a child this week</h3>
                            <p>Each bag provided costs an average of $5.00, which means that sponsoring a child would cost $20.00/month or $200.00 per school year.</p>
                            <p>We appreciate every gift, whether it's one meal, a month of meals or more.  Please consider helping us ensure each of these children have the nutrition necessary to succeed.</p>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab2">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center animate_top">
                            <p>One of the easiest ways to support Backpack Buddies is to donate food. Below are some common questions about the types of food we provide and how you can collect for us.</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 animate_top">
                            <h3><i class="fa fa-question-circle"></i>What type food do you provide in each bag?</h3>

                            <p class="animate_bottom">Each child receives enough food for 6 meals and 4 snacks each week. <a href="/content/files/BackpackBuddiesMenu.pdf" target="_blank">Download a PDF</a> with our sample menu with exampes of each item.</p>
                        </div>
                        <div class="col-md-6 animate_top">
                            <h3><i class="fa fa-question-circle"></i>Where can I drop food off?</h3>

                            <p class="animate_bottom"><a href="#contact">Contact us</a> to find the nearest drop off location for you.  Also, contact us if you'd like your church or place of business to be a drop off location for Backpack Buddies food donations.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 animate_top">
                            <h3><i class="fa fa-question-circle"></i>Can my church/club/business host a food drive?</h3>

                            <p class="animate_bottom">Absolutely!  <a href="/content/files/BackpackBuddiesMenu.pdf" target="_blank">Download</a> our sample menu to ensure you're collecting the right types of food.  Some other ideas for a food drive might include hosting a movie night or holiday party and charging a food item as the price of admission.</p>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab3">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center animate_top">
                            <p>
                                With an estimated 5,000 children in St. Clair County with food insecurity, our goal is to be in every school.  Our sponsors are the lifeblood that make that possible.  While we are currently serving all of the elementary schools in the county, there are still
                                many schools in need of a sponsor.  Below are questions that we often receive about sponsoring a school.  If you or your organization would be interested in sponsoring a school, please <a href="contact">contact us</a>.
                            </p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 animate_top">
                            <h3><i class="fa fa-question-circle"></i>What is a Backpack Buddies sponsor?</h3>
                            <p class="animate_bottom">
                                A school sponsor ensures that their school receives the needed number of bags of food each week.  School counselors will contact you with the number of children in need
                                of bags.  The number of bags needed may fluctuate week to week, but will normally become more steady as the school year progresses.  As a sponsor, you or your organization
                                would provide the monetary and logistical resources needed to ensure that no child goes hungry at your school.
                            </p>
                        </div>
                        <div class="col-md-6 animate_top">
                            <h3><i class="fa fa-question-circle"></i>As a sponsor, am I responsible for the cost of the food?</h3>
                            <p class="animate_bottom">
                                Our sponsors are committing to do all they can to make sure that every child in their school who needs a bag receives one.  However, we realize everyones resources are different.
                                For this reason, you can partially sponsor a school and commit to providing 5, 10, 20 bags per week.  In that case a school may have several sponsors working in tandem to meet the need.
                            </p>
                            <p class="animate_bottom ">
                                Backpack Buddies sponsors are a family.  So when one sponsor has difficulty meeting a need in their school others can step in to assist.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 animate_top">
                            <h3><i class="fa fa-question-circle"></i>Can my church or business sponsor a school?</h3>

                            <p class="animate_bottom">Certainly.  Many of our school sponsors are churches and we have many businesses that provide consistently for our schools.  <a href="#contact">Contact us</a> today to learn more.</p>
                        </div>
                        <div class="col-md-6 animate_top">
                            <h3><i class="fa fa-question-circle"></i>Does a school in my community that needs a sponsor?</h3>

                            <p class="animate_bottom">We're constantly working to provide sponsor for each school in our county so we recommend you <a href="#contact">contact us</a> for the most current list of schools and sponsors.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Recent Programs -->
<!-- <div class="recent_news" id="recent_news">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 heading dark animate_top">Our <span>Schools</span></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="bxslider_story">
                    @foreach (School school in _schools.Where(w => w.IsActiveDateTime.HasValue).ToList())
                    {
                        <li class="school">
                            <img src="@Url.Content("/content/images/schools/school" + school.Id + ".jpg")" alt="img" class="animate_top">
                            <div class="animate_bottom s1">
                                <h4>@school.Name</h4>
                                <p class="city">@school.City, AL</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div> -->
<!-- Contact with us -->
<!--<div class="contact-bg parallax" id="contact">
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center heading animate_top"><span class="brd">Contact </span>us</div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 contact_info animate_right">

                    <p>
                        Want to know how you or your organization can get involved?  Want to tell us how a child you know has been impacted
                        by the Backpack Buddies program?  Fill out the form to the left or contact us via the methods below.  We love to hear from you!
                    </p>

                    <h5>Address</h5>
                    <p>7324 Parkway Drive<br>Leeds, AL 35094</p>

                    <h5>Phone</h5>
                    <p>
                        205.531.3822
                    </p>

                    <h5>Email</h5>
                    <p>info@stclairbuddies.org</p>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Social-icons -->
<!--<div class="social-icons">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 text-center heading animate_top"><span>Help spread</span> the word</div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="animate_bottom">
                    <li><a href="https://www.facebook.com/HelpBackpackBuddies" target="_blank"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>-->
<!-- Footer -->
<!--<div class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12"><p>Copyright © 2017, All rights reserved</p></div>
        </div>
    </div>
</div>-->
